In [3]:
import pandas as pd

In [5]:
import numpy as np

In [ ]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory (adjust the path and extension as needed)
csv_files = glob.glob('partition1/*.csv')

# List to store DataFrames
df_list = []

# Loop through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file, delimiter='\t')
    df_list.append(df)

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_output_1.csv', index=False)

# Print the first few rows of the combined DataFrame
print(combined_df.head())

In [ ]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory (adjust the path and extension as needed)
csv_files = glob.glob('partition2/*.csv')

# List to store DataFrames
df_list = []

# Loop through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file, delimiter='\t')
    df_list.append(df)

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_output_2.csv', index=False)

# Print the first few rows of the combined DataFrame
print(combined_df.head())

In [ ]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory (adjust the path and extension as needed)
csv_files = glob.glob('partition3/*.csv')

# List to store DataFrames
df_list = []

# Loop through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file, delimiter='\t')
    df_list.append(df)

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_output_3.csv', index=False)

# Print the first few rows of the combined DataFrame
print(combined_df.head())

In [ ]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory (adjust the path and extension as needed)
csv_files = glob.glob('partition4/*.csv')

# List to store DataFrames
df_list = []

# Loop through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file, delimiter='\t')
    df_list.append(df)

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_output_4.csv', index=False)

# Print the first few rows of the combined DataFrame
print(combined_df.head())

In [ ]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory (adjust the path and extension as needed)
csv_files = glob.glob('partition5/*.csv')

# List to store DataFrames
df_list = []

# Loop through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file, delimiter='\t')
    df_list.append(df)

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_output_5.csv', index=False)

# Print the first few rows of the combined DataFrame
print(combined_df.head())

In [ ]:
import csv
df1 = pd.read_csv("combined_output_1.csv",delimiter='\t')
df1.to_csv('combined_output_comma1.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')

#df2 = pd.read_csv("combined_output_2.csv",delimiter='\t')
#df2.to_csv('combined_output_comma2.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')
##df3 = pd.read_csv("combined_output_3.csv",  delimiter='\t')
#df3.to_csv('combined_output_comma3.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')
#df4 = pd.read_csv("combined_output_4.csv",  delimiter='\t')
#df4.to_csv('combined_output_comma4.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')
#df5 = pd.read_csv("combined_output_5.csv",  delimiter='\t')
#df5.to_csv('combined_output_comma15csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')

In [ ]:
df1 = pd.read_csv("combined_output_1.csv", delimiter = ',')
df2 = pd.read_csv("combined_output_2.csv", delimiter = ',')
df3 = pd.read_csv("combined_output_3.csv", delimiter = ',')
df4 = pd.read_csv("combined_output_4.csv", delimiter = ',')
df5 = pd.read_csv("combined_output_5.csv", delimiter = ',')

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

In [ ]:
value_counts = df1["MFLARE"].value_counts()
    # Display the result
    #print(col)
print(value_counts)

In [ ]:
value_counts = df2["MFLARE"].value_counts()
    # Display the result
    #print(col)
print(value_counts)

In [ ]:
value_counts = df3["MFLARE"].value_counts()
    # Display the result
    #print(col)
print(value_counts)

In [ ]:
value_counts = df4["MFLARE"].value_counts()
    # Display the result
    #print(col)
print(value_counts)

In [ ]:
value_counts = df5["MFLARE"].value_counts()
    # Display the result
    #print(col)
print(value_counts)

In [ ]:
import pandas as pd
import glob

# Get a list of all CSV files in a directory (adjust the path and extension as needed)
csv_files = glob.glob('partition1_5/*.csv')

# List to store DataFrames
df_list = []

# Loop through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file, delimiter=',')
    df_list.append(df)

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_output_1_5.csv', index=False)

# Print the first few rows of the combined DataFrame
print(combined_df.head())

In [22]:
import csv

df = pd.read_csv("combined_output_1_5.csv",delimiter=',')
print(df.columns)
#df.to_csv('combined_output_comma1.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_30524\3023360356.py:3: DtypeWarning: Columns (37,39,41,43,45,47,49,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("combined_output_1_5.csv",delimiter=',')

Index(['Timestamp', 'TOTUSJH', 'TOTBSQ', 'TOTPOT', 'TOTUSJZ', 'ABSNJZH',
       'SAVNCPP', 'USFLUX', 'TOTFZ', 'MEANPOT', 'EPSZ', 'MEANSHR', 'SHRGT45',
       'MEANGAM', 'MEANGBT', 'MEANGBZ', 'MEANGBH', 'MEANJZH', 'TOTFY',
       'MEANJZD', 'MEANALP', 'TOTFX', 'EPSY', 'EPSX', 'R_VALUE', 'CRVAL1',
       'CRLN_OBS', 'CRLT_OBS', 'CRVAL2', 'HC_ANGLE', 'SPEI', 'LAT_MIN',
       'LON_MIN', 'LAT_MAX', 'LON_MAX', 'QUALITY', 'BFLARE', 'BFLARE_LABEL',
       'CFLARE', 'CFLARE_LABEL', 'MFLARE', 'MFLARE_LABEL', 'XFLARE',
       'XFLARE_LABEL', 'BFLARE_LOC', 'BFLARE_LABEL_LOC', 'CFLARE_LOC',
       'CFLARE_LABEL_LOC', 'MFLARE_LOC', 'MFLARE_LABEL_LOC', 'XFLARE_LOC',
       'XFLARE_LABEL_LOC', 'XR_MAX', 'XR_QUAL', 'IS_TMFI'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879658 entries, 0 to 2879657
Data columns (total 55 columns):
 #   Column            Dtype
---  ------            -----
 0   Timestamp         object
 1   TOTUSJH           float64
 2   TOTBSQ            float64
 3   TOTPOT            float64
 4   TOTUSJZ           float64
 5   ABSNJZH           float64
 6   SAVNCPP           float64
 7   USFLUX            float64
 8   TOTFZ             float64
 9   MEANPOT           float64
 10  EPSZ              float64
 11  MEANSHR           float64
 12  SHRGT45           float64
 13  MEANGAM           float64
 14  MEANGBT           float64
 15  MEANGBZ           float64
 16  MEANGBH           float64
 17  MEANJZH           float64
 18  TOTFY             float64
 19  MEANJZD           float64
 20  MEANALP           float64
 21  TOTFX             float64
 22  EPSY              float64
 23  EPSX              float64
 24  R_VALUE           float64
 25  CRVAL1            float64
 26  CRLN_OBS          float64
 27  CRLT_OBS          float64
 28  CRVAL2            float64
 29  HC_ANGLE          float64
 30  SPEI              bool
 31  LAT_MIN           float64
 32  LON_MIN           float64
 33  LAT_MAX           float64
 34  LON_MAX           float64
 35  QUALITY           float64
 36  BFLARE            float64
 37  BFLARE_LABEL      object
 38  CFLARE            float64
 39  CFLARE_LABEL      object
 40  MFLARE            float64
 41  MFLARE_LABEL      object
 42  XFLARE            float64
 43  XFLARE_LABEL      object
 44  BFLARE_LOC        float64
 45  BFLARE_LABEL_LOC  object
 46  CFLARE_LOC        float64
 47  CFLARE_LABEL_LOC  object
 48  MFLARE_LOC        float64
 49  MFLARE_LABEL_LOC  object
 50  XFLARE_LOC        float64
 51  XFLARE_LABEL_LOC  object
 52  XR_MAX            float64
 53  XR_QUAL           int64
 54  IS_TMFI           bool
dtypes: bool(2), float64(43), int64(1), object(9)
memory usage: 1.1+ GB

In [24]:
# Remove multiple columns by specifying their names
df.drop(columns=['BFLARE_LABEL', 'CFLARE_LABEL', 'XFLARE_LABEL',
                 'BFLARE_LOC', 'CFLARE_LOC', 'XFLARE_LOC', 'MFLARE_LOC',
                 'BFLARE_LABEL_LOC', 'CFLARE_LABEL_LOC', 'XFLARE_LABEL_LOC', 'MFLARE_LABEL_LOC','Timestamp'], inplace=True)

# Print the DataFrame after removing the columns
print(df.head())

      TOTUSJH        TOTBSQ        TOTPOT       TOTUSJZ    ABSNJZH  \
0  270.853424  3.879569e+09  2.918538e+22  5.777593e+12  30.270086
1  264.298678  3.893645e+09  3.320445e+22  5.654726e+12  12.938717
2  307.571556  4.028219e+09  3.362393e+22  6.488687e+12  11.460021
3  297.073069  4.116519e+09  3.084000e+22  6.193158e+12  17.791219
4  301.562397  4.305776e+09  2.789749e+22  5.797055e+12   3.261995

        SAVNCPP        USFLUX         TOTFZ      MEANPOT      EPSZ  ...  \
0  2.383632e+12  6.510776e+21 -3.465782e+24  2252.122063 -0.672675  ...
1  6.364629e+11  6.521055e+21 -3.376310e+24  2471.580961 -0.652940  ...
2  1.174558e+12  6.917875e+21 -3.602599e+24  2371.522932 -0.673426  ...
3  2.019295e+12  6.973707e+21 -3.709671e+24  2203.027338 -0.678567  ...
4  8.275204e+11  7.228646e+21 -3.884833e+24  1981.178678 -0.679373  ...

     LON_MAX  QUALITY  BFLARE  CFLARE  MFLARE  MFLARE_LABEL  XFLARE  \
0 -74.103981  66560.0     0.0     0.0     0.0           NaN     0.0
1 -73.970650      0.0     0.0     0.0     0.0           NaN     0.0
2 -73.794930      0.0     0.0     0.0     0.0           NaN     0.0
3 -73.670418      0.0     0.0     0.0     0.0           NaN     0.0
4 -73.420265      0.0     0.0     0.0     0.0           NaN     0.0

         XR_MAX  XR_QUAL  IS_TMFI
0  7.014500e-08       12    False
1  7.306500e-08       12    False
2  6.182700e-08       12    False
3  6.952600e-08       12    False
4  7.518900e-08       12    False

[5 rows x 43 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879658 entries, 0 to 2879657
Data columns (total 43 columns):
 #   Column        Dtype
---  ------        -----
 0   TOTUSJH       float64
 1   TOTBSQ        float64
 2   TOTPOT        float64
 3   TOTUSJZ       float64
 4   ABSNJZH       float64
 5   SAVNCPP       float64
 6   USFLUX        float64
 7   TOTFZ         float64
 8   MEANPOT       float64
 9   EPSZ          float64
 10  MEANSHR       float64
 11  SHRGT45       float64
 12  MEANGAM       float64
 13  MEANGBT       float64
 14  MEANGBZ       float64
 15  MEANGBH       float64
 16  MEANJZH       float64
 17  TOTFY         float64
 18  MEANJZD       float64
 19  MEANALP       float64
 20  TOTFX         float64
 21  EPSY          float64
 22  EPSX          float64
 23  R_VALUE       float64
 24  CRVAL1        float64
 25  CRLN_OBS      float64
 26  CRLT_OBS      float64
 27  CRVAL2        float64
 28  HC_ANGLE      float64
 29  SPEI          bool
 30  LAT_MIN       float64
 31  LON_MIN       float64
 32  LAT_MAX       float64
 33  LON_MAX       float64
 34  QUALITY       float64
 35  BFLARE        float64
 36  CFLARE        float64
 37  MFLARE        float64
 38  MFLARE_LABEL  object
 39  XFLARE        float64
 40  XR_MAX        float64
 41  XR_QUAL       int64
 42  IS_TMFI       bool
dtypes: bool(2), float64(39), int64(1), object(1)
memory usage: 906.3+ MB

In [26]:
# Checking for missing values in the dataset
df.isnull().sum()

TOTUSJH          235091
TOTBSQ           235084
TOTPOT           235100
TOTUSJZ          235091
ABSNJZH          235091
SAVNCPP          235071
USFLUX           235084
TOTFZ            235084
MEANPOT          269047
EPSZ             269031
MEANSHR          269047
SHRGT45          268240
MEANGAM          268890
MEANGBT          269044
MEANGBZ          269038
MEANGBH          269038
MEANJZH          269038
TOTFY            235084
MEANJZD          269038
MEANALP          269044
TOTFX            235084
EPSY             269031
EPSX             269031
R_VALUE          234581
CRVAL1           234293
CRLN_OBS         234293
CRLT_OBS         234293
CRVAL2           234293
HC_ANGLE         234293
SPEI                  0
LAT_MIN          255693
LON_MIN          255693
LAT_MAX          255693
LON_MAX          255693
QUALITY          234293
BFLARE                0
CFLARE                0
MFLARE                0
MFLARE_LABEL    2878955
XFLARE                0
XR_MAX                0
XR_QUAL               0
IS_TMFI               0
dtype: int64

In [27]:
# Check and rank missing values in descending order
missing_values = df.isnull().sum().sort_values(ascending=False)

# Display the ranked missing values
print("Ranked Missing Values:")
print(missing_values)

Ranked Missing Values:
MFLARE_LABEL    2878955
MEANSHR          269047
MEANPOT          269047
MEANGBT          269044
MEANALP          269044
MEANJZD          269038
MEANJZH          269038
MEANGBH          269038
MEANGBZ          269038
EPSX             269031
EPSY             269031
EPSZ             269031
MEANGAM          268890
SHRGT45          268240
LAT_MIN          255693
LON_MIN          255693
LAT_MAX          255693
LON_MAX          255693
TOTPOT           235100
TOTUSJH          235091
TOTUSJZ          235091
ABSNJZH          235091
TOTFX            235084
TOTFZ            235084
TOTBSQ           235084
USFLUX           235084
TOTFY            235084
SAVNCPP          235071
R_VALUE          234581
CRLT_OBS         234293
CRVAL2           234293
QUALITY          234293
CRVAL1           234293
CRLN_OBS         234293
HC_ANGLE         234293
SPEI                  0
BFLARE                0
CFLARE                0
MFLARE                0
XFLARE                0
XR_MAX                0
XR_QUAL               0
IS_TMFI               0
dtype: int64

In [28]:
# Remove rows with missing values in the 'Name' column
df_cleaned = df.dropna(subset=['MEANSHR'])

# Display the cleaned DataFrame
print("DataFrame after removing rows with missing values in 'Name':")
print(df_cleaned)

DataFrame after removing rows with missing values in 'Name':
            TOTUSJH        TOTBSQ        TOTPOT       TOTUSJZ    ABSNJZH  \
0        270.853424  3.879569e+09  2.918538e+22  5.777593e+12  30.270086
1        264.298678  3.893645e+09  3.320445e+22  5.654726e+12  12.938717
2        307.571556  4.028219e+09  3.362393e+22  6.488687e+12  11.460021
3        297.073069  4.116519e+09  3.084000e+22  6.193158e+12  17.791219
4        301.562397  4.305776e+09  2.789749e+22  5.797055e+12   3.261995
...             ...           ...           ...           ...        ...
2879653    2.670209  3.819327e+07  5.601851e+20  9.911235e+10   0.383287
2879654    0.969618  1.650987e+07  1.481853e+20  4.852552e+10   0.212580
2879655    0.714306  8.163235e+06  1.100305e+20  4.027244e+10   0.296776
2879656    0.471510  5.287516e+06  8.117846e+19  1.791149e+10   0.299268
2879657    0.044319  8.287297e+05  1.154099e+17  1.427520e+09   0.044319

              SAVNCPP        USFLUX         TOTFZ      MEANPOT      EPSZ  ...  \
0        2.383632e+12  6.510776e+21 -3.465782e+24  2252.122063 -0.672675  ...
1        6.364629e+11  6.521055e+21 -3.376310e+24  2471.580961 -0.652940  ...
2        1.174558e+12  6.917875e+21 -3.602599e+24  2371.522932 -0.673426  ...
3        2.019295e+12  6.973707e+21 -3.709671e+24  2203.027338 -0.678567  ...
4        8.275204e+11  7.228646e+21 -3.884833e+24  1981.178678 -0.679373  ...
...               ...           ...           ...          ...       ...  ...
2879653  4.386623e+10  1.058569e+20 -3.470295e+22  1874.720913 -0.684175  ...
2879654  1.588518e+11  4.892841e+19 -1.672210e+22  1023.684432 -0.762666  ...
2879655  7.063236e+10  2.714306e+19 -6.999221e+21  1035.644514 -0.645617  ...
2879656  3.741259e+10  1.968686e+19 -4.574962e+21  1131.969240 -0.651513  ...
2879657  5.468013e+09  3.184172e+18 -1.088072e+21    12.414596 -0.988626  ...

           LON_MAX  QUALITY  BFLARE  CFLARE  MFLARE  MFLARE_LABEL  XFLARE  \
0       -74.103981  66560.0     0.0     0.0     0.0           NaN     0.0
1       -73.970650      0.0     0.0     0.0     0.0           NaN     0.0
2       -73.794930      0.0     0.0     0.0     0.0           NaN     0.0
3       -73.670418      0.0     0.0     0.0     0.0           NaN     0.0
4       -73.420265      0.0     0.0     0.0     0.0           NaN     0.0
...            ...      ...     ...     ...     ...           ...     ...
2879653  89.262123    128.0     0.0     0.0     0.0           NaN     0.0
2879654  89.281708    128.0     0.0     0.0     0.0           NaN     0.0
2879655  89.158371    128.0     0.0     0.0     0.0           NaN     0.0
2879656  89.279350    128.0     0.0     0.0     0.0           NaN     0.0
2879657  89.394073    128.0     0.0     0.0     0.0           NaN     0.0

               XR_MAX  XR_QUAL  IS_TMFI
0        7.014500e-08       12    False
1        7.306500e-08       12    False
2        6.182700e-08       12    False
3        6.952600e-08       12    False
4        7.518900e-08       12    False
...               ...      ...      ...
2879653  3.402900e-08       12    False
2879654  3.430000e-08       12    False
2879655  3.828000e-08       12    False
2879656  3.737600e-08       12    False
2879657  6.143700e-08       12    False

[2610611 rows x 43 columns]

In [29]:
missing_values = df_cleaned.isnull().sum().sort_values(ascending=False)

# Display the ranked missing values
print("Ranked Missing Values:")
print(missing_values)

Ranked Missing Values:
MFLARE_LABEL    2609931
MEANGAM             649
MEANGBT               6
MEANALP               6
R_VALUE               4
TOTUSJH               0
CRLN_OBS              0
CRLT_OBS              0
CRVAL2                0
HC_ANGLE              0
SPEI                  0
LAT_MIN               0
LON_MIN               0
LAT_MAX               0
LON_MAX               0
QUALITY               0
BFLARE                0
CFLARE                0
MFLARE                0
XFLARE                0
XR_MAX                0
XR_QUAL               0
CRVAL1                0
EPSY                  0
EPSX                  0
EPSZ                  0
TOTPOT                0
TOTUSJZ               0
ABSNJZH               0
SAVNCPP               0
USFLUX                0
TOTFZ                 0
MEANPOT               0
MEANSHR               0
TOTBSQ                0
SHRGT45               0
MEANGBZ               0
MEANGBH               0
MEANJZH               0
TOTFY                 0
MEANJZD               0
TOTFX                 0
IS_TMFI               0
dtype: int64

In [30]:
import numpy as np

col_to_impute = ['MEANGAM', 'MEANALP','MEANGBT', 'R_VALUE']

for col in col_to_impute:
    average = df_cleaned[col].astype("float").mean(axis=0)
    df_cleaned.loc[:,col] = df_cleaned[col].replace(np.nan, average)

In [31]:
missing_values = df_cleaned.isnull().sum().sort_values(ascending=False)

# Display the ranked missing values
print("Ranked Missing Values:")
print(missing_values)

Ranked Missing Values:
MFLARE_LABEL    2609931
TOTUSJH               0
LAT_MAX               0
CRVAL1                0
CRLN_OBS              0
CRLT_OBS              0
CRVAL2                0
HC_ANGLE              0
SPEI                  0
LAT_MIN               0
LON_MIN               0
LON_MAX               0
EPSX                  0
QUALITY               0
BFLARE                0
CFLARE                0
MFLARE                0
XFLARE                0
XR_MAX                0
XR_QUAL               0
R_VALUE               0
EPSY                  0
TOTBSQ                0
MEANSHR               0
TOTPOT                0
TOTUSJZ               0
ABSNJZH               0
SAVNCPP               0
USFLUX                0
TOTFZ                 0
MEANPOT               0
EPSZ                  0
SHRGT45               0
TOTFX                 0
MEANGAM               0
MEANGBT               0
MEANGBZ               0
MEANGBH               0
MEANJZH               0
TOTFY                 0
MEANJZD               0
MEANALP               0
IS_TMFI               0
dtype: int64

In [32]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2610611 entries, 0 to 2879657
Data columns (total 43 columns):
 #   Column        Dtype
---  ------        -----
 0   TOTUSJH       float64
 1   TOTBSQ        float64
 2   TOTPOT        float64
 3   TOTUSJZ       float64
 4   ABSNJZH       float64
 5   SAVNCPP       float64
 6   USFLUX        float64
 7   TOTFZ         float64
 8   MEANPOT       float64
 9   EPSZ          float64
 10  MEANSHR       float64
 11  SHRGT45       float64
 12  MEANGAM       float64
 13  MEANGBT       float64
 14  MEANGBZ       float64
 15  MEANGBH       float64
 16  MEANJZH       float64
 17  TOTFY         float64
 18  MEANJZD       float64
 19  MEANALP       float64
 20  TOTFX         float64
 21  EPSY          float64
 22  EPSX          float64
 23  R_VALUE       float64
 24  CRVAL1        float64
 25  CRLN_OBS      float64
 26  CRLT_OBS      float64
 27  CRVAL2        float64
 28  HC_ANGLE      float64
 29  SPEI          bool
 30  LAT_MIN       float64
 31  LON_MIN       float64
 32  LAT_MAX       float64
 33  LON_MAX       float64
 34  QUALITY       float64
 35  BFLARE        float64
 36  CFLARE        float64
 37  MFLARE        float64
 38  MFLARE_LABEL  object
 39  XFLARE        float64
 40  XR_MAX        float64
 41  XR_QUAL       int64
 42  IS_TMFI       bool
dtypes: bool(2), float64(39), int64(1), object(1)
memory usage: 841.5+ MB

In [33]:
# Save the filtered DataFrame to a CSV file
#df_cleaned.to_csv('df_cleaned.csv', index=False) # when necessary

# Verify by reading the saved CSV file (optional)
df_cleaned = pd.read_csv('df_cleaned.csv')
print(df_cleaned.head())

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_30524\2342721581.py:5: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cleaned = pd.read_csv('df_cleaned.csv')

      TOTUSJH        TOTBSQ        TOTPOT       TOTUSJZ    ABSNJZH  \
0  270.853424  3.879569e+09  2.918538e+22  5.777593e+12  30.270086
1  264.298678  3.893645e+09  3.320445e+22  5.654726e+12  12.938717
2  307.571556  4.028219e+09  3.362393e+22  6.488687e+12  11.460021
3  297.073069  4.116519e+09  3.084000e+22  6.193158e+12  17.791219
4  301.562397  4.305776e+09  2.789749e+22  5.797055e+12   3.261995

        SAVNCPP        USFLUX         TOTFZ      MEANPOT      EPSZ  ...  \
0  2.383632e+12  6.510776e+21 -3.465782e+24  2252.122063 -0.672675  ...
1  6.364629e+11  6.521055e+21 -3.376310e+24  2471.580961 -0.652940  ...
2  1.174558e+12  6.917875e+21 -3.602599e+24  2371.522932 -0.673426  ...
3  2.019295e+12  6.973707e+21 -3.709671e+24  2203.027338 -0.678567  ...
4  8.275204e+11  7.228646e+21 -3.884833e+24  1981.178678 -0.679373  ...

     LON_MAX  QUALITY  BFLARE  CFLARE  MFLARE  MFLARE_LABEL  XFLARE  \
0 -74.103981  66560.0     0.0     0.0     0.0           NaN     0.0
1 -73.970650      0.0     0.0     0.0     0.0           NaN     0.0
2 -73.794930      0.0     0.0     0.0     0.0           NaN     0.0
3 -73.670418      0.0     0.0     0.0     0.0           NaN     0.0
4 -73.420265      0.0     0.0     0.0     0.0           NaN     0.0

         XR_MAX  XR_QUAL  IS_TMFI
0  7.014500e-08       12    False
1  7.306500e-08       12    False
2  6.182700e-08       12    False
3  6.952600e-08       12    False
4  7.518900e-08       12    False

[5 rows x 43 columns]

In [34]:
def extract_magnitude(json_str):
    try:
        return json.loads(json_str).get('magnitude', None)  # Return None if 'magnitude' key is missing
    except (json.JSONDecodeError, TypeError):
        return None  # Handle malformed JSON

df_cld_cpy = df_cleaned.copy()

# Apply the function using .loc to avoid the warning
df_cld_cpy.loc[:, 'magnitude'] = df_cld_cpy['MFLARE_LABEL'].apply(extract_magnitude)

In [35]:
df_cld_cpy["magnitude"]

0          None
1          None
2          None
3          None
4          None
           ...
2610606    None
2610607    None
2610608    None
2610609    None
2610610    None
Name: magnitude, Length: 2610611, dtype: object

In [36]:
# Get value counts for the 'magnitude' column
#magnitude_counts = df_cld_cpy["magnitude"].value_counts()

# Save the value counts to a CSV file
#magnitude_counts.to_csv('magnitude_counts.csv', header=True)

In [37]:
df_cld_cpy.columns

Index(['TOTUSJH', 'TOTBSQ', 'TOTPOT', 'TOTUSJZ', 'ABSNJZH', 'SAVNCPP',
       'USFLUX', 'TOTFZ', 'MEANPOT', 'EPSZ', 'MEANSHR', 'SHRGT45', 'MEANGAM',
       'MEANGBT', 'MEANGBZ', 'MEANGBH', 'MEANJZH', 'TOTFY', 'MEANJZD',
       'MEANALP', 'TOTFX', 'EPSY', 'EPSX', 'R_VALUE', 'CRVAL1', 'CRLN_OBS',
       'CRLT_OBS', 'CRVAL2', 'HC_ANGLE', 'SPEI', 'LAT_MIN', 'LON_MIN',
       'LAT_MAX', 'LON_MAX', 'QUALITY', 'BFLARE', 'CFLARE', 'MFLARE',
       'MFLARE_LABEL', 'XFLARE', 'XR_MAX', 'XR_QUAL', 'IS_TMFI', 'magnitude'],
      dtype='object')

<h2>Convert Flare Labels to One(1) Categorical Column</h2>

<h3>Convert dtype to int</h3>
<p>-----------</p>

In [40]:
# Convert multiple columns to int
cols_to_convert = ['BFLARE', 'CFLARE', 'MFLARE','XFLARE']
df_cleaned[cols_to_convert] = df_cleaned[cols_to_convert].astype(int)

In [41]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610611 entries, 0 to 2610610
Data columns (total 43 columns):
 #   Column        Dtype
---  ------        -----
 0   TOTUSJH       float64
 1   TOTBSQ        float64
 2   TOTPOT        float64
 3   TOTUSJZ       float64
 4   ABSNJZH       float64
 5   SAVNCPP       float64
 6   USFLUX        float64
 7   TOTFZ         float64
 8   MEANPOT       float64
 9   EPSZ          float64
 10  MEANSHR       float64
 11  SHRGT45       float64
 12  MEANGAM       float64
 13  MEANGBT       float64
 14  MEANGBZ       float64
 15  MEANGBH       float64
 16  MEANJZH       float64
 17  TOTFY         float64
 18  MEANJZD       float64
 19  MEANALP       float64
 20  TOTFX         float64
 21  EPSY          float64
 22  EPSX          float64
 23  R_VALUE       float64
 24  CRVAL1        float64
 25  CRLN_OBS      float64
 26  CRLT_OBS      float64
 27  CRVAL2        float64
 28  HC_ANGLE      float64
 29  SPEI          bool
 30  LAT_MIN       float64
 31  LON_MIN       float64
 32  LAT_MAX       float64
 33  LON_MAX       float64
 34  QUALITY       float64
 35  BFLARE        int32
 36  CFLARE        int32
 37  MFLARE        int32
 38  MFLARE_LABEL  object
 39  XFLARE        int32
 40  XR_MAX        float64
 41  XR_QUAL       int64
 42  IS_TMFI       bool
dtypes: bool(2), float64(35), int32(4), int64(1), object(1)
memory usage: 781.8+ MB

<h3>Assign C to CFlare</h3>
<p>Convert values greater than 1 (>1) in CFlare Column as C and empty the cell of cells having zero (0) in Cflare Column</p>

In [7]:
df_cleaned = pd.read_csv('df_cleaned.csv')
print(df_cleaned.head())

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_21832\3906942827.py:1: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cleaned = pd.read_csv('df_cleaned.csv')

      TOTUSJH        TOTBSQ        TOTPOT       TOTUSJZ    ABSNJZH  \
0  270.853424  3.879569e+09  2.918538e+22  5.777593e+12  30.270086
1  264.298678  3.893645e+09  3.320445e+22  5.654726e+12  12.938717
2  307.571556  4.028219e+09  3.362393e+22  6.488687e+12  11.460021
3  297.073069  4.116519e+09  3.084000e+22  6.193158e+12  17.791219
4  301.562397  4.305776e+09  2.789749e+22  5.797055e+12   3.261995

        SAVNCPP        USFLUX         TOTFZ      MEANPOT      EPSZ  ...  \
0  2.383632e+12  6.510776e+21 -3.465782e+24  2252.122063 -0.672675  ...
1  6.364629e+11  6.521055e+21 -3.376310e+24  2471.580961 -0.652940  ...
2  1.174558e+12  6.917875e+21 -3.602599e+24  2371.522932 -0.673426  ...
3  2.019295e+12  6.973707e+21 -3.709671e+24  2203.027338 -0.678567  ...
4  8.275204e+11  7.228646e+21 -3.884833e+24  1981.178678 -0.679373  ...

     LON_MAX  QUALITY  BFLARE  CFLARE  MFLARE  MFLARE_LABEL  XFLARE  \
0 -74.103981  66560.0     0.0     0.0     0.0           NaN     0.0
1 -73.970650      0.0     0.0     0.0     0.0           NaN     0.0
2 -73.794930      0.0     0.0     0.0     0.0           NaN     0.0
3 -73.670418      0.0     0.0     0.0     0.0           NaN     0.0
4 -73.420265      0.0     0.0     0.0     0.0           NaN     0.0

         XR_MAX  XR_QUAL  IS_TMFI
0  7.014500e-08       12    False
1  7.306500e-08       12    False
2  6.182700e-08       12    False
3  6.952600e-08       12    False
4  7.518900e-08       12    False

[5 rows x 43 columns]

In [8]:
# First, convert 'CFLARE' to object type to allow mixing strings and numbers
#df_cleaned.loc[:, 'CFLARE'] = df_cleaned['CFLARE'].astype('object')

# Convert 'CFLARE' to numeric, coercing errors to NaN (this step is safe now that it's 'object')
#df_cleaned.loc[:, 'CFLARE'] = pd.to_numeric(df_cleaned['CFLARE'], errors='coerce')

# Apply the transformation
df_cleaned.loc[df_cleaned['CFLARE'] >= 1, 'CFLARE'] = 'C'  # Set values > 1 to 'C'
df_cleaned.loc[df_cleaned['CFLARE'] == 0, 'CFLARE'] = np.nan  # Empty cells with value 0

# Verify the result
print(df_cleaned['CFLARE'].value_counts())  # Check if the transformation was applied correctly

# Save the 'FLARE_CLASS' column to a CSV file
df_cleaned[['CFLARE']].to_csv('CFLARE_col_C.csv', index=False)

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_21832\1163128699.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'C' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_cleaned.loc[df_cleaned['CFLARE'] >= 1, 'CFLARE'] = 'C'  # Set values > 1 to 'C'

CFLARE
C    6719
Name: count, dtype: int64

<h3>Assign B to BFlare</h3>
<p>Convert values greater than 1 (>1) in BFlare Column as C and empty the cell of cells having zero (0) in Bflare Column</p>

In [10]:

# Apply the transformation
df_cleaned.loc[df_cleaned['BFLARE'] >= 1, 'BFLARE'] = 'B'  # Set values > 1 to 'C'
df_cleaned.loc[df_cleaned['BFLARE'] == 0, 'BFLARE'] = np.nan  # Empty cells with value 0

# Verify the result
print(df_cleaned['BFLARE'].value_counts())  # Check if the transformation was applied correctly

# Save the 'FLARE_CLASS' column to a CSV file
df_cleaned[['BFLARE']].to_csv('BFLARE_col_B.csv', index=False)

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_21832\4114306941.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'B' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_cleaned.loc[df_cleaned['BFLARE'] >= 1, 'BFLARE'] = 'B'  # Set values > 1 to 'C'

BFLARE
B    4467
Name: count, dtype: int64

<h3>Assign M to MFlare</h3>
<p>Convert values greater than 1 (>1) in MFlare Column as C and empty the cell of cells having zero (0) in Mflare Column</p>

In [12]:

# Apply the transformation
df_cleaned.loc[df_cleaned['MFLARE'] >= 1, 'MFLARE'] = 'M'  # Set values > 1 to 'C'
df_cleaned.loc[df_cleaned['MFLARE'] == 0, 'MFLARE'] = np.nan  # Empty cells with value 0

# Verify the result
print(df_cleaned['MFLARE'].value_counts())  # Check if the transformation was applied correctly

# Save the 'FLARE_CLASS' column to a CSV file
df_cleaned[['MFLARE']].to_csv('MFLARE_col_M.csv', index=False)

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_21832\3446645474.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'M' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_cleaned.loc[df_cleaned['MFLARE'] >= 1, 'MFLARE'] = 'M'  # Set values > 1 to 'C'

MFLARE
M    680
Name: count, dtype: int64

<h3>Assign X to XFlare</h3>
<p>Convert values greater than 1 (>1) in XFlare Column as C and empty the cell of cells having zero (0) in Xflare Column</p>

In [14]:

# Apply the transformation
df_cleaned.loc[df_cleaned['XFLARE'] >= 1, 'XFLARE'] = 'X'  # Set values > 1 to 'C'
df_cleaned.loc[df_cleaned['XFLARE'] == 0, 'XFLARE'] = np.nan  # Empty cells with value 0

# Verify the result
print(df_cleaned['XFLARE'].value_counts())  # Check if the transformation was applied correctly

# Save the 'FLARE_CLASS' column to a CSV file
df_cleaned[['XFLARE']].to_csv('XFLARE_col_X.csv', index=False)

C:\Users\ct_vi\AppData\Local\Temp\ipykernel_21832\3950790008.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'X' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_cleaned.loc[df_cleaned['XFLARE'] >= 1, 'XFLARE'] = 'X'  # Set values > 1 to 'C'

XFLARE
X    47
Name: count, dtype: int64

In [15]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610611 entries, 0 to 2610610
Data columns (total 43 columns):
 #   Column        Dtype
---  ------        -----
 0   TOTUSJH       float64
 1   TOTBSQ        float64
 2   TOTPOT        float64
 3   TOTUSJZ       float64
 4   ABSNJZH       float64
 5   SAVNCPP       float64
 6   USFLUX        float64
 7   TOTFZ         float64
 8   MEANPOT       float64
 9   EPSZ          float64
 10  MEANSHR       float64
 11  SHRGT45       float64
 12  MEANGAM       float64
 13  MEANGBT       float64
 14  MEANGBZ       float64
 15  MEANGBH       float64
 16  MEANJZH       float64
 17  TOTFY         float64
 18  MEANJZD       float64
 19  MEANALP       float64
 20  TOTFX         float64
 21  EPSY          float64
 22  EPSX          float64
 23  R_VALUE       float64
 24  CRVAL1        float64
 25  CRLN_OBS      float64
 26  CRLT_OBS      float64
 27  CRVAL2        float64
 28  HC_ANGLE      float64
 29  SPEI          bool
 30  LAT_MIN       float64
 31  LON_MIN       float64
 32  LAT_MAX       float64
 33  LON_MAX       float64
 34  QUALITY       float64
 35  BFLARE        object
 36  CFLARE        object
 37  MFLARE        object
 38  MFLARE_LABEL  object
 39  XFLARE        object
 40  XR_MAX        float64
 41  XR_QUAL       int64
 42  IS_TMFI       bool
dtypes: bool(2), float64(35), int64(1), object(5)
memory usage: 821.6+ MB

In [ ]:
# Combine multiple columns into a single column while retaining row values
df_cleaned.loc[:,'FLARE_CLASS'] = df_cleaned[['BFLARE', 'CFLARE', 'MFLARE', 'XFLARE']].apply(lambda row: ''.join(row.astype(str)), axis=1)

# Verify the result
print(df_cleaned[['BFLARE', 'CFLARE', 'MFLARE', 'XFLARE', 'FLARE_CLASS']].head())

In [ ]:
print(df_cleaned['FLARE_CLASS'].value_counts())

In [ ]:
# Save the 'FLARE_CLASS' column to a CSV file
df_cleaned[['FLARE_CLASS']].to_csv('flare_class_column.csv', index=False)

# Verify by reading the saved CSV file (optional)
saved_df = pd.read_csv('flare_class_column.csv')
print(saved_df.head())

In [ ]:
saved_df['FLARE_CLASS'].unique()

In [ ]:
# Find rows where 'FLARE_CLASS' is either 'B C' or 'C M'
filtered_df = saved_df[saved_df['FLARE_CLASS'].isin([' C  ', ' C M '])]

# Display the filtered rows
print(filtered_df)

In [23]:
import pandas as pd


# Check for rows where both columns have a value
both_have_value = df_cleaned[df_cleaned['CFLARE'].notna() & df_cleaned['BFLARE'].notna()]

print("Rows where both columns have values:")
print(both_have_value)

Rows where both columns have values:
             TOTUSJH        TOTBSQ        TOTPOT       TOTUSJZ     ABSNJZH  \
844877   1794.179679  1.732151e+10  2.431315e+23  3.500549e+13  468.261960
2001386  2583.957639  3.302222e+10  4.176975e+23  5.445159e+13  314.550407
2104383  1110.293031  1.257635e+10  1.762102e+23  2.188145e+13   34.126252

              SAVNCPP        USFLUX         TOTFZ      MEANPOT      EPSZ  ...  \
844877   2.090515e+13  1.780971e+22 -6.702951e+24  6736.884919 -0.291385  ...
2001386  1.019954e+13  4.335224e+22 -1.791222e+25  4555.298770 -0.408442  ...
2104383  3.228763e+12  1.273982e+22 -5.297056e+24  7045.664382 -0.317152  ...

         QUALITY  BFLARE  CFLARE  MFLARE  MFLARE_LABEL  XFLARE        XR_MAX  \
844877       0.0       B       C     NaN           NaN     NaN  8.675000e-07
2001386      0.0       B       C     NaN           NaN     NaN  1.030200e-06
2104383  66560.0       B       C     NaN           NaN     NaN  6.003900e-07

         XR_QUAL  IS_TMFI  Multiple_Values_in_Selected_Columns
844877        12     True                                 True
2001386       12     True                                 True
2104383       12    False                                 True

[3 rows x 44 columns]

In [20]:
import pandas as pd

## Sample DataFrame
#data = {
#    'B': [None, 2, None, 4],
#    'C': [None, 2, None, 4],
#    'M': [None, 8, None, None],
#    'X': [9, None, 1, 4],
#    'A': [1, 2, 3, 4],  # Extra columns
#    'Y': [10, 20, 30, 40]  # Extra columns
#}
#df = pd.DataFrame(data)

# Check if there is more than one value in the selected columns (B, C, M, X)
def check_multiple_values_in_selected_columns(row):
    # Count how many values are non-NaN (filled) in the selected columns
    selected_columns = ['BFLARE', 'CFLARE', 'MFLARE', 'XFLARE']
    non_nan_count = sum(pd.notna(row[selected_columns]))
    return non_nan_count > 1  # Return True if more than 1 value is present

# Apply the check across the rows and assign it to a new column
df_cleaned['Multiple_Values_in_Selected_Columns'] = df_cleaned.apply(check_multiple_values_in_selected_columns, axis=1)

# Filter the DataFrame to show only rows where Multiple_Values_in_Selected_Columns is True
filtered_df = df_cleaned[df_cleaned['Multiple_Values_in_Selected_Columns']]

# Print the filtered DataFrame with the new column for True/False
print("DataFrame with True Rows Only (Hiding False):")
print(filtered_df[['BFLARE', 'CFLARE', 'MFLARE', 'XFLARE', 'Multiple_Values_in_Selected_Columns']])

DataFrame with True Rows Only (Hiding False):
        BFLARE CFLARE MFLARE XFLARE  Multiple_Values_in_Selected_Columns
844877       B      C    NaN    NaN                                 True
2001386      B      C    NaN    NaN                                 True
2104383      B      C    NaN    NaN                                 True
2365536    NaN      C      M    NaN                                 True